.screen.discharged {
    background: url(../images/bk_intro.jpg) top center no-repeat;
}

.screen.discharged #logo{
    background: url(../images/logo_large.png) top left no-repeat;
    width: 336px;
    height: 56px;
    display: block;
    float: left;
    margin: 30px 0 0 64px;
}

.screen.discharged #remote {
    background: url(../images/img_pillowspeaker.png) no-repeat;
    width: 150px;
    height: 400px;
    /*margin: 120px 0px 0px -60px;*/
    display: inline-block;
    position: absolute;
    left: 1040px;
    top: 110px;
}

.screen.discharged #dischargetext {
    width: 600px;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: 70px;
    top: 350px;
}

.screen.discharged #dischargetext p {
    text-align: left;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.60);
}

.screen.discharged #dischargetext #time p{
     font-size: 70px;
    line-height: 90px;
 }

.screen.discharged #dischargetext #date p{
    font-size: 30px;
    line-height: 40px;
}

.screen.discharged #heading {
    width: 425px;
    height: 38px;
    display: inline-block;
    position: absolute;
    left: 780px;
    top: 43px;
    text-align: right;
    color: #363534;
    text-shadow: 0px 0px;
}

.screen.discharged #instructions {
    position: absolute;
    left: 0;
    top: 164px;
    width: 100%;
    line-height: 66px;
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
}

.screen.discharged #revision {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #D2E5F4;
}

.screen.discharged #revision span {
    font-size: 12px;
    font-weight: normal;
    text-shadow: none;
    color: #0C1E32;
}